<!--
 - Created by OleksandrZborovskyi on 19.01.2022.
 -->

<!-- Delete Orders Modal -->
<template>
    <template if:true={openModal}>
        <div class="slds-modal slds-fade-in-open slds-backdrop">
            <div class="slds-modal__container">
                <!------HEADER Section-->
                <div class="slds-modal__header">
                    <lightning-button-icon icon-name="utility:close" alternative-text="Close this window" size="large"
                                           variant="bare-inverse" onclick={closeModal} class="slds-modal__close">
                    </lightning-button-icon>
                    <h2>Welcome To SalesforcePoint.com</h2>
                </div>
                <!------Body Section-->
                <div class="slds-modal__content slds-p-around_medium">
                    <center>
                        <P>Hello guys, welcome to salesforcepoint.com. <br>
                            This is the basic lightning web component Modal popup.
                        </P>
                    </center>
                </div>
                <!------Footer Section-->
                <div class="slds-modal__footer">
                    <lightning-button icon-name="utility:close" label="close" variant="brand" onclick={closeModal}>
                    </lightning-button>
                </div>
            </div>
        </div>
    </template>
</template>